<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subject.name %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= link_to @subject.teacher.name, @subject.teacher %>
</p>

<table>
  <thead>
  <tr>
    <th>Students:</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @subject.students.sort_by{|student| student.name}.each do |student| %>
      <tr>
        <td><%= link_to student.name, student %></td>
        <td><!--%= link_to 'Remove student', sub_stu_link, method: :delete, data: { confirm: 'Are you sure?' } %--></td>
      </tr>
  <% end %>
  </tbody>

  <tfoot>
  <tr>
    <td><strong><%= link_to 'Add Student', new_subject_sub_stu_link_path(@subject) %></strong></td>
  </tr>
  </tfoot>
</table>


<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
